{% extends "pcrs/base.html" %}
{% load static %}

{% block scripts %}
{{ block.super }}
{% load compress %}
{% compress js %}
<script src="{% static 'jquery/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'csrf_protection.js' %}" type="text/javascript"></script>
<script src="{% static 'content/js/Quest_color_control.js' %}" type="text/javascript"></script>
<script src="{% static 'graph/admin/graph.js' %}" type="text/javascript"></script>
<script src="{% static 'graph/admin/touchpunch.js' %}" type="text/javascript"></script>
<script src="{% static 'graph/admin/drag.js' %}" type="text/javascript"></script>
<script src="{% static 'minimap/minimap.min.js' %}" type="text/javascript"></script>
{% endcompress %}
{% endblock %}

{% block stylesheets %}
{{ block.super }}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{% static 'minimap/minimap.min.css' %}">
<link rel="stylesheet" href="{% static 'graph/graph.css' %}">
{% endcompress %}
{% endblock %}

{% block page_title %}
{{ page_title }}
{% endblock %}

{% block content %}

<div class="dependency-tree">
    <h2 style="display:inline;">Dependency Graph</h2>
    <div id="challenges" class="tab-content quest-elements container">
        <canvas id="edges"></canvas>
        <div id="challenge-graph"></div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="quest-modal" tabindex="9999" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Select a Quest</h4>
            </div>
            <div class="modal-body">
                <label for="quest-modal-select">Existing Quest:</label>
                <select id="quest-modal-select" class="form-control">
                </select>
                <br/>
                <label for="quest-modal-text">New Quest:</label>
                <input type="text" class="form-control" id="quest-modal-text">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        onclick="addNewQuestCancelHandler();">Cancel
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addNewQuestHandler();">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="node-modal" style="z-index: 9999;" tabindex="9999" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Select a Node</h4>

            </div>
            <div class="modal-body">
                <label for="node-modal-select">Available Nodes:</label>
                <input class="form-control" id="NodeSearch" type="text" placeholder="Search..">
                <select id="node-modal-select" size="6" class="form-control">
                </select>
                <br/>
                <label for="node-modal-text">New Node:</label>
                <input type="text" class="form-control" id="node-modal-text">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        onclick="addNewQuestCancelHandler();">Cancel
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addNodeHandler();">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
