{% load static %}
{% load compress %}

<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
        var root = '{{ site_prefix }}';
        var user_theme = '{{ user.code_style }}';

        var fonts = document.createElement('style');
        fonts.appendChild(document.createTextNode(`
        @font-face {
          font-family: 'Glyphicons Halflings';
          src: url('${root}/static/fonts/glyphicons-halflings-regular.eot');
          src: url('${root}/static/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('${root}/static/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('${root}/static/fonts/glyphicons-halflings-regular.woff') format('woff'), url('${root}/static/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('${root}/static/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
          font-weight: bold;
          font-style: italic;
        }
        `));

        document.head.appendChild(fonts);
    </script>

    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">

    {% block stylesheets %}
        {# {% compress css %} #}
            <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
            <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-select.min.css' %}">
            <link rel="stylesheet" href="{% static 'main.css' %}">
        {# {% endcompress %} #}
    {% endblock %}

    {% block scripts %}
        {# {% compress js %} #}
            <script src="{% static 'jquery/jquery.js' %}" type="text/javascript"></script>
            {# <script src="{% static 'jquery/jquery-ui.min.js' %}" type="text/javascript" async defer></script> #}
            <script src="{% static 'handlebars-v4.0.5/handlebars.js' %}" type="text/javascript"></script>
            <script src="{% static 'handlebars-v4.0.5/handlebars.getTemplate.js' %}" type="text/javascript"></script>
            <script src="{% static 'bootstrap/js/bootstrap.js' %}" type="text/javascript"></script>
            <script src="{% static 'bootstrap/js/bootstrap-select.min.js' %}" type="text/javascript"></script>
            {# Old version of react (newer has a lot of breaking changes) #}
            {# <script src="{% static 'react-0.11.1/build/react-with-addons.js' %}" async defer></script> #}
        {# {% endcompress %} #}
    {% endblock %}

    <script type="text/javascript">
        $(document).keydown(function(e) {
            if (e.keyCode == 8) {
                var elID = $(document.activeElement).hasClass('textarea') ||
                    $(document.activeElement).hasClass('datetimeinput') ||
                    $(document.activeElement).hasClass('form-control');
                if (!elID) {
                    return false;
                }
            };
        });
    </script>
    <title>PCRS - {{ page_title|title }}</title>
</head>
<body class="body-bg-new">
    {% if user.is_instructor or user.is_ta %}
        {% include "pcrs/instructor_navigation.html" %}
    {% else %}
        {% include "pcrs/student_navigation.html" %}
    {% endif %}
    <div class="pcrs-fluid">
        <div class="page-title">
        {% block page_title %}
            {{ page_title|title }}
            {{ object|striptags|truncatechars:150 }}
        {% endblock %}
        </div>
        {% block problem_progress %}
        {% endblock %}
        {% block pages %}
        {% endblock %}
        <div class="main-page-new">
            {% block links %} {% endblock %}
            {% block content %}
                {% block timer %}
                {% endblock %}
                {% block alerts %} {% endblock %}
            {% endblock %}
            <div style="clear: both"></div>
        </div>
    </div>
</body>
</html>
